main {
  display: flex;
}
body {
  background-color: rgb(80, 80, 80);
}
h1 {
  font: bold;
  font-size: larger;
  padding-bottom: 15px;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-style: normal;
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: perspective(500px) translateZ(400px);
  }

  to {
    opacity: 1;
    transform: perspective(500px) translateZ(0px);
  }
}

.container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  margin-top: 39px;
  justify-content: center;
  align-items: center;
}
.card {
  animation: slidein 1s 1s backwards, fade-in 3s;

  box-shadow: 5px 5px 10px 2px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(127, 127, 127, 1) 0%, rgba(250, 251, 201, 1) 83%);
  transform: rotate(10deg);
  width: 200px;
  height: 200px;
}
.card1 {
  animation: slidein 1s 2s backwards, fade-in 3s;

  box-shadow: 5px 5px 10px 2px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(+8deg);
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(131, 131, 131, 1) 0%, rgba(198, 244, 198, 1) 43%);
}
.card2 {
  animation: slidein 1s 3s backwards, fade-in 3s;
  box-shadow: 5px 5px 10px 2px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(-10deg);
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(131, 131, 131, 1) 0%, rgba(197, 197, 240, 1) 43%);
}
.card3 {
  animation: slidein 1s 4s backwards, fade-in 3s;
  box-shadow: 5px 5px 10px 2px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(17deg);
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(131, 131, 131, 1) 0%, rgba(198, 244, 198, 1) 43%);
}
.card4 {
  animation: slidein 1s 5s backwards, fade-in 3s;
  box-shadow: 5px 5px 10px 2px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(2deg);
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(127, 127, 127, 1) 0%, rgba(250, 251, 201, 1) 43%);
}
.card5 {
  animation: slidein 1s 6s backwards, fade-in 3s;
  box-shadow: 5px 5px 10px 2px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(-6deg);
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(131, 131, 131, 1) 0%, rgba(197, 197, 240, 1) 43%);
}
.card6 {
  animation: slidein 1s 7s backwards, fade-in 3s;
  box-shadow: 5px 5px 10px 2px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(-4deg);
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(127, 127, 127, 1) 0%, rgba(250, 251, 201, 1) 43%);
}
.card7 {
  animation: slidein 1s 8s backwards, fade-in 3s;
  box-shadow: 5px 5px 10px 2px #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(+8deg);
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(131, 131, 131, 1) 0%, rgba(198, 244, 198, 1) 43%);
}
/*7777777777777777777777777777777777777777777777777777777777777777animazioni*/
.card:hover {
  transform: rotate(0deg);
  scale: 1.2;
  transition: all 1s 1s;
}
.card1:hover {
  transform: rotate(0deg);
  scale: 1.2;

  transition: all 1s 1s;
}
.card2:hover {
  transform: rotate(0deg);
  scale: 1.2;

  transition: all 1s 1s;
}
.card3:hover {
  transform: rotate(0deg);
  scale: 1.2;

  transition: all 1s 1s;
}
.card4:hover {
  transform: rotate(0deg);
  scale: 1.2;

  transition: all 1s 1s;
}
.card5:hover {
  transform: rotate(0deg);
  scale: 1.2;

  transition: all 1s 1s;
}
.card6:hover {
  transform: rotate(0deg);
  scale: 1.2;

  transition: all 1s 1s;
}
.card7:hover {
  transform: rotate(0deg);
  scale: 1.2;

  transition: all 1s 1s;
}
